<!DOCTYPE html>
<html>
  <head>
    <title>Carrito de Compras</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/car.css">
  </head>
  <body>
    <header>
        <a href="../index.html"><img src="../images/logo.png" alt="Logo de mercado livre" /></a>
        <hr>
        <nav>
            <ul>
                <li><a href="login.html">Iniciar sesión</a> - <a href="register.html">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <h1>Carrito de Compras</h1>
    <hr>
    
    <table>
      <tr>
        <th>Producto</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Precio Total</th>
      </tr>
      <tr>
        <td>Producto 1</td>
        <td>$50.00</td>
        <td>2</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <td>Producto 2</td>
        <td>$75.00</td>
        <td>1</td>
        <td>$75.00</td>
      </tr>
      <tr>
        <td colspan="3">Total</td>
        <td>$175.00</td>
      </tr>
    </table>
    <hr>
    
    <div>
      <form action="../index.html">
        <input type="submit" value="Comprar">
      </form>
    </div>
    <br>
    <br>
    <footer>
        <p>Todos los derechos reservados. &copy; 2023 Mercado Livre.</p>
    </footer>
  </body>
</html>
