<!DOCTYPE html>
<html>

<head>
  <title>Detalle del Producto</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../public/css/product-details.css">
</head>

<body>
  <header>
    <div class="logo-container">
      <a href="../index.html"><img width="300px" src="../images/logo.png" alt="Logo de mercado livre" /></a>

    </div>
    <div class="menu-header-container">
      <p>
        <a href="login.html">Iniciar sesión</a> - <a href="register.html">Registrarse</a>

      </p>
    </div>
  </header>
  <h1>Detalle del Producto</h1>

  <div class="product-detail-container">
    <div class="img-container">
      <img src="../images/bicicleta.jpg" alt="Producto">

    </div>
    <h2 class="product-name">Bicicleta Mountain Bike Firebird R29 21v Disco Suspension </h2>
    <hr>
    <p class="description">Descripción del producto:</p>
    <p class="details-product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo explicabo labore quae harum dolor odio! Modi
      tempora enim rerum deleniti sed quidem! Officia non excepturi placeat ad repellat culpa quae.</p>
    <hr>
    <h3 class="price">$75.000</h3>
    <hr>
    <form action="car.html">
      <label>Cantidad:</label>
      <input type="number" id="cantidad" name="cantidad">
      <hr>
      <button type="submit">agregar al carrito</button>
    </form>
  </div>

  <footer>
    <p>Todos los derechos reservados. &copy; 2023 Mercado Livre.</p>
  </footer>
</body>

</html>